services:
  webapp:
    image: node
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      PORT: 80
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    command: ["sh", "-c", "npm install && node backend/server.js"]
    ports:
      - "8080:80"

  db:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
